OPENAI_API_KEY=
NEXT_PUBLIC_FUNCTIONS_BASE_URL
DEFAULT_NETLIFY_BASE_URL
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_VERCEL_FUNCTIONS_BASE_URL=

MONGODB_URI=

# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

DEV_MODE=
NEXT_PUBLIC_STRIPE_CHECKOUT_URL=
# NEXT_PUBLIC_STRIPE_CHECKOUT_URL=

STRIPE_PRICE_ID=
STRIPE_SECRET_KEY=
# ADE KEY STRIPE_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

CLERK_SECRET_KEY=

Frontend_API_URL=


# VERCEL KV

KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
KV_URL=
REDIS_URL=

NEXT_PUBLIC_ADE_BASE_COLOR=
NEXT_PUBLIC_AI_RESPONSE_LANGUAGE=English

MAX_TILES_PER_DAY=1000          # Máximo de tiles por dia por workspace
MAX_TILES_PER_HOUR=200          # Máximo de tiles por hora por workspace  
MAX_REQUESTS_PER_MINUTE=20      # Máximo de requisições por minuto por workspace
